
html, body, .wrapper { height: 100%; }

@keyframes rotate {
    100% { background-position: 0% 50%; }
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    /* background-image: url(./Background.svg); */
    background: rgb(2,0,36);
    background: linear-gradient(168deg, rgba(2,0,36,1) 29%, rgba(60,0,117,1) 65%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins;
    color: #00ccff;
    animation: rotate ls infinite alternate linear;
}

.meme {
    font-size: 90px;
}