
* { box-sizing: border-box; }

html, body, .wrapper { height: 100%; }

@keyframes rotate {
    100% { background-position: 0% 50%; }
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: rgba(190, 190, 190, 0.87);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins;
    color: #17ced4;
    animation: rotate ls infinite alternate linear;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.control {
    border: 0;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeaf7;
    color: #5a4f79;
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
}

.Register-card {
    width: 400px;
    padding: 50px 30px 64px;
    border-radius: 1.25rem;
    background: #ffffff;
}

.Register-card > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 6px;
}

.Register-card > h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
}

.Register-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.Register-form input.control::placeholder{
    color: #aaa7bc;
}

.reg {
    color: #000000;
}

.Register-form > button.control {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #703eff;
    color: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.password { 
    position: relative;
 }

.toggle {
    position: absolute;
    top: 25%;
    right: 16px;
    translate: 0 -50;
    width: 30px;
    height: 30px;
    background-image: url("./show.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.toggle.showing {
    background-image: url("./hide.svg");
}